<nav class="navbar navbar-default" id="mainNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Webtech 2</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink="customers">Customers</a></li>
      <li><a class="nav-link" routerLink="bartenders">Bartenders</a></li>
      <li><a class="nav-link" routerLink="managers">Managers</a></li>
      <li><a class="nav-link" routerLink="foods">Foods</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
