@import "template/_navbar";

.container-main {
}
body {
  background-color: darkseagreen;
}
.row-outlined > div {
  margin-top:10px;
  padding: 20px;
  outline: 2px solid #ccc;
  outline-offset: -10px;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 100%);
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
.row-outlined ul {
  background-color: rgba(255,255,255,0.8);
}
