<div class="container container-main">
  <div class="row row-outlined">
    <div class="col-xs-5">
      <h1>Customers</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cust of customers" (click)="orderChild.getOrders(cust._id)" style="cursor: pointer">
          <h2>{{ cust.name }}</h2>
          <p>Billing address: {{ cust.billingAddress }}</p>
        </li>
      </ul>
    </div>
    <div class="col-xs-7">
      <app-order #orderChild></app-order>
    </div>
  </div>
  <hr/>
  <div class="row row-outlined">
    <div class="col-xs-12">
      <H2>Add customer</H2>
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="username">Name: </label>
          <input id="username" type="text" class="form-control" [(ngModel)]="username"/>
        </div>
        <div class="col-xs-9">
          <label for="billingaddress">Billing address: </label>
          <div class="input-group">
            <input id="billingaddress" type="text" class="form-control" [(ngModel)]="billingAddress">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="onAddClicked()">Add</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
